<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" referrerpolicy="no-referrer" />   

</head>
<body>
<!-- header & navbar section -->
<nav class="navbar">
    {% block menu %}
        {% include 'menu.html' %}
    {%  endblock menu%}
</nav>

<!-- header -->
<header class = "flex">
    <div class = "container">
        <div class = "header-title">
            <h1>Registration</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum maxime enim odit illum in molestias beatae doloremque, ratione optio.</p>
        </div>
    </div>
</header>
<!-- header -->


    <!-- registration form container -->
    <div class="registerForm">
        <form action="/create_user" method="POST"  class="formContainer">
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <h4>{{message}}</h4>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="fname">First Name:</label>
            <input type="text" name="fname" placeholder="Enter your first name">
            <label for="lname">Last Name:</label>
            <input type="text" name="lname" placeholder="Enter your last name">
            <label for="email" >Email:</label>
            <input type="text" name="email" placeholder="Enter your email">
            <label for="password" >Password:</label>
            <input type="password" name="password" placeholder="Enter your password">
            <label for="confirm" >Confirm Password:</label>
            <input type="password" name="confirm" placeholder="Enter your password again">
            <input type="submit" value="Register" class="btn">
            <p>Already have an account? <a href="/">Log in</a></p>
        </form>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>    
    </body>
</html>


