<!-- UNFINISHED -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/edit_travelinfo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>

    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}


    <h1>Edit your Post</h1>
    <h1>Welcome {{users.first_name}}</h1>
    <!-- user is from controller_users.py -->
    <div class= "links">    
        <a href = "/showUser">Dashboard</a>
        <a href = "/log_out">Logout</a>
    </div>


    <div class="content">

        <form action="/update/{{trips.id}}" method="POST">
            <label for="text">Text:</label><br>
            <input type="text" name="text" value="{{ trips.text }}"> <br>    
            
            <h3>Hotels</h3> 
            <!-- ^added -->
            
            <input type="hidden" name="hotel_id" value="{{ trips.all_info['hotels_id'] }}">

            <label for="name">Hotel Name:</label><br>
            <input type="text" name="name" value="{{ trips.all_info['name'] }}"> <br>   
            
            <label for="cost">Cost:</label><br>
            <input type="number" name="cost" value="{{ trips.all_info['cost'] }}"> <br>   
            
            <label for="check_in">Start Date:</label><br>
            <input type="date" id="check_in" name="check_in" value="{{ trips.all_info['check_in'] }}"><br>
            
            <label for="check_out">End Date:</label><br>
            <input type="date" id="check_out" name="check_out" value="{{ trips.all_info['check_out'] }}"><br>
            
            
            
            <h3>Flights</h3> 
            <!-- ^added -->
            <input type="hidden" name="flight_id" value="{{ trips.all_info['flights_id'] }}">

            <label for="destination">Destination:</label><br>
            <input type="text" name="destination" value="{{ trips.all_info['destination'] }}"> <br>   
            
            <label for="departure">Departure Date:</label><br>
            <input type="date" id="departure" name="departure" value="{{ trips.all_info['departure'] }}"><br>
            
            <label for="arrival">Arrival Date:</label><br>
            <input type="date" id="arrival" name="arrival" value="{{ trips.all_info['arrival'] }}"><br>
            
            <label for="flight_number">Flight Number:</label><br>
            <input type="number" name="flight_number" value="{{ trips.all_info['flight_number'] }}"> <br>   
            
            
            <h3>Cars</h3> 
            <!-- ^added -->
            <input type="hidden" name="car_id" value="{{ trips.all_info['cars_id'] }}">
            
            <label for="company">Car Company:</label><br>
            <input type="text" name="company" value="{{ trips.all_info['company'] }}"> <br> 
            
            <label for="total_days">Total days:</label><br>
            <input type="number" name="total_days" value="{{ trips.all_info['total_days'] }}"> <br>   
            
            <label for="cost">Cost:</label><br>
            <input type="number" name="cost" value="{{ trips.all_info['cars_cost'] }}"> <br>   
            
            <label for="start_date">Start Date:</label><br>
            <input type="date" id="start_date" name="start_date" value="{{ trips.all_info['start_date'] }}"><br>
            
            <label for="end_date">End Date:</label><br>
            <input type="date" id="end_date" name="end_date" value="{{ trips.all_info['end_date'] }}"><br>
            
            <button type="submit">Update</button>
            
        </form> 
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
