<!-- UNFINISHED -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_travelinfo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" referrerpolicy="no-referrer" />   

    <title>Edit Travel Info</title>

</head>
<body>
<!-- header & navbar section -->
<nav class="navbar">
    {% block menu %}
        {% include 'menu.html' %}
    {%  endblock menu%}
</nav>

<!-- header -->
<header class = "flex">
    <div class = "container">
        <div class = "header-title">
            <h1>Hello {{users.fname}}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum maxime enim odit illum in molestias beatae doloremque, ratione optio.</p>
        </div>
    </div>
</header>
<!-- header -->

    <!-- error flash message -->
    <div class="flashContainer">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
<!-- end of error flash message -->


<!-- Edit Section -->
    <h1>Edit your Post</h1>
    <h1>Welcome {{users.first_name}}</h1>
    <!-- user is from controller_users.py -->
    <div class= "links">    
        <a href = "/showUser">Dashboard</a>
        <a href = "/log_out">Logout</a>
    </div>



    <div class="content">
        <form action="/update/{{travelinfo.id}}" method="POST">
            <label for="text">Text:</label><br>
            <input type="text" name="text"> <br>               
            <button type="submit">Update</button>
        </form> 
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>    
</body>
</html>
